<section class="container-fluid bg-black">
  <section class="container-xxl video-container">
    <section id="video-wrapper">
      <iframe 
        title="<%= video.name %>" 
        src="https://<%= domain %><%= video.embedPath %>?autoplay=1"
        allowfullscreen="" 
        sandbox="allow-same-origin allow-scripts allow-popups" 
        width="560" 
        height="315" 
        frameborder="0"
      ></iframe>
    </section>
  </section>
</section>