<form action="/signin" method="post" class="form-signin text-center">
  <i class="fa-solid fa-circle-play fs-1"></i>
  <h1 class="display-6 mt-3 mb-3 fw-normal"><%= appname %></h1>
  <% if (error) { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>    
  <% } %>
  <div class="form-floating">
    <input type="text" name="username" value="" class="form-control" id="floatingInput" placeholder="Uživatelské meno">
    <label for="floatingInput">Uživatelské meno</label>
  </div>
  <div class="form-floating">
    <input type="password" name="password" value="" class="form-control" id="floatingPassword" placeholder="Heslo">
    <label for="floatingPassword">Heslo</label>
  </div>
  <button type="submit" class="w-100 btn btn-md btn-secondary">
    Prihlásiť sa
  </button>
  <p class="mt-2 mb-2 text-muted">&copy;&nbsp;2023</p>
</form>