<nav class="navbar navbar-dark bg-dark shadow fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <i class="fa-solid fa-circle-play"></i>
      <span>VidLib</span>
    </a>
    <a href="/signout" class="btn btn-outline-secondary">Odhlásiť sa</a>
  </div>
</nav>